/* linked with grid_revision.html */
.outermost_container{
    height:100%;
    background:rgba(192, 238, 241, 0.5);
    margin:10px;

    display:grid;
    grid-template-columns:100px 100px 100px;
    grid-template-rows:100px 100px 100px; 
    grid-gap:10px 10px;
    
    justify-content:center;
    align-content:center;
}

.grid_item{
    text-align: center;
    line-height:100px;
}
