*{ 
    box-sizing: border-box;
}

body{
    background-color: rgb(212, 244, 252);
    font-family: 'Nunito', sans-serif;
}

h1{
    text-align:center;
}

/* styling related to flex container START */
.flex_container{
    width:100%;
    height:auto;
    display:flex;
    background-color: whitesmoke;
}

/*styling related to flex container END*/

/* styling related to flex items START  */

.flex_item{
    width:50%; 
}

hr{
    width:50%;margin:auto;margin-top:-15px;
}

div[class ~= "item2"]{
    align-self: center;
}
/* styling related to flex items END  */

#edu_img{
    width:80%;
    margin: 10%;
}


/* applying media queries to be responsive as per screen size */

/* media query for mobile phones */
@media (max-width:768px){
    .flex_container{
        width:100%;
        height:auto;
        display:block;
        background-color: whitesmoke;
    }

    .flex_item{
        width:100%; 
    }

    .item1 p{
        margin:5px;
    }
     
}