.outermostDiv{
    width:100%;
    height:100%;
    background:gray;
    
    /* properties related to grid-system */
    display:grid;
}

/* will serve as header */
.divOne{    
    grid-area:1/1/2/7;
    background:rgb(142, 224, 245);
    border:5px white solid;
}

 /* will serve as menu */
.divTwo{
    grid-area:2/1/3/7;
    background:rgb(238, 148, 148);
    border:5px white solid;
}

/* will serve as form container */
.divThree{
 grid-area:3/1/6/4;
 background:rgb(189, 252, 177);
 border:5px solid white;
}


/* will serve as img container */
.divFour{
    grid-area:3/4/6/7;
    background:rgb(166, 103, 248);
    border:5px white solid;
   }

 /* will serve as footer */
 .divFive{  
    grid-area:6/1/7/7;
    background:rgb(235, 35, 158);
    border:5px white solid;
}

/* -------------------------END OF GRID SYSTEM CREATION---------------------- */
